@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* ******************* GENERAL STYLING ********************* */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #262B3F;
    --secondary-color: #FFF;
    --color-3: #1E2337;
    --color-4: rgb(255,255,255,.5);
    --color-5: greenyellow;
}

body {
    inline-size: 100%;
    block-size: 100vh;
    background: #1E2337;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ************************** MAIN STYLING ******************************** */
header {
    inline-size: 85%;
    block-size: 95%;
    box-shadow: 0px 0px 30px rgb(20,19,19);
    border-radius: 10px;
    display: flex;
}
header aside, article {
    inline-size: 85%;
    block-size: 100%;
    /* border: 1px solid #FFF; */
    border-radius: 0px 10px 10px 0px;
    background: var(--color-3);
}
header aside {
    inline-size: 15%;
    border-radius: 10px 0px 0px 10px;
    background: #663DA6;
}
header aside h1 {
    inline-size: 100%;
    block-size: 10%;
    /* border: 1px solid #FFF; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 22px;
    font-weight: 800;
}
header aside h1 i {
    margin-inline-start: 5px;
}
header aside button {
    display: block;
    padding: 8px 20px;
    margin: auto;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    background: var(--primary-color);
    color: var(--secondary-color);
    margin-block-start: 5px;
    transition: .3s linear;
}
header aside button:hover {
    background: var(--color-3);
}
header aside ul {
    position: relative;
    list-style: none;
    margin-block-start: 10px;
    margin-inline-start: 12%; 
    padding-block-end: 20px;
}
header aside ul::before {
    content: '';
    position: absolute;
    inline-size: 88%;
    block-size: 2px;
    background: rgb(184,184,184,.1);
    inset-block-end: 0;
}
header aside ul li {
    padding: 2.5px 0px;
}
header aside ul li a {
    text-decoration: none;
    color: rgb(225,255,255,.7);
    font-size: 12px;
    font-weight: 400;
    transition: .3s linear;
}
header aside ul li a:hover {
    color: var(--secondary-color);
}
header aside ul li a i {
    margin-inline-end: 15px;
}
header aside ul .active {
    border-inline-end: 3px solid #FFF;
}
header aside ul .active a {
    color: var(--secondary-color);
    font-size: 13px;
}
/* subscritions */
header aside .subscriptions {
    inline-size: 99%;
    block-size: 10% !important;
    /* border: 1px solid #FFF; */
    margin-block-start: 15px;
    margin-inline-start: 12%;
}
header aside .subscriptions h5 {
    color: var(--secondary-color);
    font-size: 12px;
    font-weight: 600;
}
header aside .subscriptions .cards {
    inline-size: 88%;
    block-size: 210px;
    /* border: 1px solid #FFF; */
    overflow-x: auto;
    margin-block-start: 15px;
}
header aside .subscriptions .cards::-webkit-scrollbar {
    inline-size: 4px;
    background: rgba(184,184,184,.2);
    border-radius: 20px;
    visibility: hidden;
    transition: .3s linear;
}
header aside .subscriptions .cards::-webkit-scrollbar-thumb {
    background: rgba(184,184,184,.7);
    border-radius: 20px;
    visibility: hidden;
    transition: .3s linear;
}
header aside .subscriptions .cards:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}
header aside .subscriptions .cards:hover::-webkit-scrollbar {
    visibility: visible;
}
header aside .subscriptions .cards .card {
    margin-block-end: 10px;
    /* border: 1px solid #FFF; */
    display: flex;
    align-items: center;
}
header aside .subscriptions .cards .card .img {
    inline-size: 35px;
    block-size: 35px;
    border-radius: 50%;
}
header aside .subscriptions .cards .card .img::before {
    content: '';
    position: absolute;
    inline-size: 7px;
    block-size: 7px;
    background: greenyellow;
    border-radius: 50%;
    border: 3px solid #663DA6;
    inset-block-start: 13px;
    inset-inline-end: -5px;
}
header aside .subscriptions .cards .card .img img {
    inline-size: 35px;
    block-size: 35px;
    border-radius: 50%;
}
header aside .subscriptions .cards .card .content {
    margin-inline-start: 8px;
}
header aside .subscriptions .cards .card .content h6 {
    inline-size: 100px;
    color: #FFF;
    font-size: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
header aside .subscriptions .cards .card .content p {
    inline-size: 100px;
    color: rgb(225,255,255,.5);
    font-size: 8px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* === article section === */
header article nav {
    inline-size: 100%;
    block-size: 9%;
    /* border: 1px solid #FFF; */
    border-radius: 0px 10px 0px 0px;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primary-color);
}
header article nav button {
    padding: 7px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #663DA6;
    color: var(--secondary-color);
    font-size: 'Poppins', sans;
    font-weight: 800;
}
header article nav .search {
    inline-size: 40%;
    background: var(--color-3);
    padding: 4px 10px;
    transition: .5s linear;
}
header article nav .search input {
    inline-size: 94%;
    background: none;
    border: none;
    outline: none;
    padding: 0px 10px;
    color: var(--secondary-color);
    transition-property: .5s linear;
}
header article nav .search input::placeholder {
    color: var(--color-4);
    font-size: 'Poppins', sans-serif;
    font-size: 12px;
    transition: .5s linear;
}
header article nav .search i {
    color: var(--color-4);
    font-size: 13px;
    transition: .5s linear;
}
header article nav .right_bx {
    inline-size: 38%;
    /* border: 1px solid #FFF; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header article nav .right_bx i {
    color: var(--color-4);
    font-size: 20px;
    cursor: pointer;
    transition: .5s linear;
}
header article nav .right_bx i:hover {
    color: rgb(225,255,255);
}
header article nav .right_bx button {
    padding: 0px 20px;
    background: rgb(184,184,184,.2);
    border: 2px solid rgb(225,255,255, .2);
    display: flex;
    align-items: center;
    font-size: 12px;
    color: var(--secondary-color);
    transition: .5s linear;
}
header article nav .right_bx button span {
    margin: -2px 0px 0px 10px;
}
/* battery active */
header article nav .right_bx .active_battery {
    background: #663DA6;
    box-shadow: 0px 0px 20px #663DA6;
}
header article nav .right_bx .user_data {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .5s linear;
}
header article nav .right_bx .user_data h6 {
    inline-size: 70px;
    color: var(--color-4);
    font-weight: 600;
    font-size: 9px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: .5s linear;
}
header article nav .right_bx .user_data h5 {
    color: var(--secondary-color);
    background: #663DA6;
    border-radius: 50%;
    padding: 8px 9px;
    font-size: 11px;
    margin: 0px 5px;
    transition: .5s linear;
}
header article nav .right_bx .user_data i {
    color: var(--secondary-color);
    font-size: 12px;
    transition: .7s linear;
}
header article nav .right_bx .user_data:hover i {
    transform: rotate(180deg);
}
header article nav .right_bx .user_data .card {
    position: absolute;
    inline-size: 130px;
    block-size: 0px;
    /* border: 1px solid #FFF; */
    inset-block-start: 50px;
    z-index: 9999;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    opacity: 0;
    transition: 1s linear;
}
header article nav .right_bx .user_data:hover .card {
    block-size: 200px;
    opacity: 1;
    overflow: unset;
}
header article nav .right_bx .user_data .card::before {
    content: '';
    position: absolute;
    inline-size: 100%;
    block-size: 100%;
    background: rgb(184,184,184,.1);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    z-index: -1;
}
header article nav .right_bx .user_data .card::after {
    content: '';
    position: absolute;
    border-block-start: 15px solid rgb(184,184,184,.1);
    border-inline-end: 15px solid transparent;
    border-block-end: 15px solid transparent;
    inset-block-start: -10px;
    inset-inline-end: 20px;
    transform: rotate(45deg);
}
header article nav .right_bx .user_data .card img {
    inline-size: 35px;
    block-size: 35px;
    border-radius: 50%;
    margin-block-start: 10px;
}
header article nav .right_bx .user_data .card h6 {
    inline-size: unset;
    overflow: unset;
    text-align: center;
    display: block;
    margin-block-start: 10px;
    color: var(--secondary-color);
    transition: .5s linear;
}
header article nav .right_bx .user_data .card p {
    color: rgb(225,255,255,.5);
    font-size: 9px;
    margin-block-end: 10px;
    transition: .5s linear;
}
header article nav .right_bx .user_data .card .gta_img {
    inline-size: 110px;
    block-size: 60px;
    border-radius: 15px;
    margin: 15px;
}
/* === Game Box === */
header article .game1 {
    position: relative;
    inline-size: 100%;
    block-size: 200px;
    /* border: 1px solid #FFF; */
    padding: 0px 30px;
    margin-block-start: 20px;
}
header article .game1 h3 {
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: 600;
    transition: .5s linear;
}
header article .game1 .game_bx {
    inline-size: 100%;
    block-size: 175px;
    /* border: 1px solid #FFF; */
    display: flex;
    align-items: center;
    overflow: auto;
    scroll-behavior: smooth;
}
header article .game1 .game_bx::-webkit-scrollbar {
    display: none;
}
header article .game1 .game_bx .card {
    min-inline-size: 230px;
    block-size: 160px;
    /* border: 1px solid #FFF; */
    border-radius: 10px;
    margin-block-start: 10px;
    margin-inline-end: 20px;
}
/* header article .game1 .game_bx .card:nth-child(1) {
    margin-inline-end: 0px;
} */
header article .game1 .game_bx .card img {
    inline-size: 100%;
    block-size: 75%;
    border-radius: 5px;
}
header article .game1 .game_bx .card .content {
    inline-size: 100%;
    block-size: 25%;
    /* border: 1px solid #FFF; */
    display: flex;
    justify-content: space-between;
    color: var(--secondary-color);
    margin-block-start: -5px;
    transition: .5s linear;
}
header article .game1 .game_bx .card .content .left {
    color: var(--secondary-color);
    transition: .5s linear;
}
header article .game1 .game_bx .card .content .left h5 {
    font-size: 12px;
    font-weight: 500;
    inline-size: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
header article .game1 .game_bx .card .content .left p {
    font-size: 8px;
    font-weight: 500;
    inline-size: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--color-4);
}
header article .game1 .game_bx .card .content h6 {
    font-size: 10px;
    font-weight: 500;
    color: var(--color-4);
    margin-block-start: 5px;
    transition: .5s linear;
}
header article .game1 .btns {
    position: absolute;
    inset-inline-end: 3%;
    inset-block-start: 0;
    display: flex;
    align-items: center;
    color: var(--color-4);
    transition: .5s linear;
}
header article .game1 .btns i {
    margin-inline-start: 5px;
    cursor: pointer;
    transition: .5s linear;
}
header article .game1 .btns i:hover {
    columns: var(--secondary-color);
}
/* gamebox2 */
header article .game2 {
    position: relative;
    inline-size: 100%;
    block-size: 300px;
    /* border: 1px solid #FFF; */
    padding: 0px 30px;
    overflow: hidden;
}
header article .game2 h3 {
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: 600;
    transition: .5s linear;
}
header article .game2 .games_bx {
    inline-size: 100%;
    block-size: 350px;
    margin-block-start: 8px;
    /* border: 1px solid #FFF; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-y: auto;
}
header article .game2 .games_bx::-webkit-scrollbar {
    inline-size: 5px;
    border-radius: 20px;
    background: rgb(184,184,184,.2);
    visibility: hidden;
}
header article .game2 .games_bx::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: rgb(184,184,184,.7);
    visibility: hidden;
}
header article .game2 .games_bx:hover::-webkit-scrollbar {
    visibility: visible;
}
header article .game2 .games_bx:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}
header article .game2 .games_bx .card {
    inline-size: 100px;
    block-size: 170px;
    /* border: 1px solid #FFF; */
    margin: 0px 5px 11px 0px;
}
header article .game2 .games_bx .card img {
    inline-size: 100%;
    block-size: 80%;
    border-radius: 10px;
}
header article .game2 .games_bx .card .content {
    inline-size: 100%;
    block-size: 20%;
    overflow: hidden;
}
header article .game2 .games_bx .card .content h6 {
    inline-size: 100%;
    color: var(--secondary-color);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: .5s linear;
}
header article .game2 .games_bx .card .content p {
    inline-size: 100%;
    font-size: 9px;
    font-weight: 500s;
    color: var(--secondary-color);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: .5s linear;
}


/* GTA .HTML */
header article .download_container {
    inline-size: 100%;
    block-size: 91%;
    /* border: 1px solid #FFF; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}
header article .download_container .download_bx, .realted_bx {
    inline-size: 45%;
    block-size: 100%;
    /* border: 1px solid #FFF; */
}
header article .download_container .download_bx {
    inline-size: 55%;
    padding: 0px 20px;
}
header article .download_container .download_bx .img_video {
    position: relative;
    inline-size: 100%;
    block-size: 50% ;
    /* border: 1px solid #FFF; */
    border-radius: 20px;
    margin-block-start: 20px;
    transition: 1s linear infinite;
}
header article .download_container .download_bx .img_video h6 {
    inline-size: 100%;
    block-size: 100%;
    border-radius: 20px;
    background: url('images/pubg.jpeg') no-repeat center center/cover;
    transition: 1s linear;
}
header article .download_container .download_bx .img_video video {
    position: absolute;
    inset-block-start: 0%;
    inset-inline-start: 0%;
    inline-size: 100%;
    block-size: 100%;
    border-radius: 20px;
    display: none;
}
header article .download_container .download_bx h4 {
    margin-block-start: 10px;
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 500;
}
header article .download_container .download_bx ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-block-start: 10px;
}
header article .download_container .download_bx ul li {
    inline-size: 50%;
    color: var(--color-4);
    font-size: 13px;
    font-weight: 400;
    padding: 5px 0px;
    letter-spacing: .3px;
}
header article .download_container .download_bx ul li:nth-child(2n) {
    padding-inline-start: 20px;
}
header article .download_container .download_bx ul li i {
    padding-inline-end: 5px;
}
header article .download_container .download_bx .btns {
    display: flex;
    align-items: center;
    margin-block-start: -1px;
}
header article .download_container .download_bx .btns a {
    text-decoration: none;
    padding: 5px 20px;
    background: #663DA6;
    color: #FFF;
    font-size: 13px;
    font-weight: 600;
    margin-inline-end: 10px;
    border-radius: 5px;
    transition: .3s linear;
    display: flex;
    align-items: center;
}
header article .download_container .download_bx .btns a:hover {
    background: #262B3F;
}
header article .download_container .download_bx .btns a i {
    margin-inline-end: 5px;
    font-size: 18px;
}
header article .download_container .realted_bx h4 {
    margin-block-start: 20px;
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: 500;
    padding: 0px 8px;
}
header article .download_container .realted_bx .cards {
    inline-size: 100%;
    block-size: 55%;
    /* border: 1px solid #FFF; */
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: auto;
}
header article .download_container .realted_bx .cards::-webkit-scrollbar {
    inline-size: 5px;
    background: rgb(184,184,184,.2);
    border-radius: 20px;
    visibility: hidden;
}
header article .download_container .realted_bx .cards::-webkit-scrollbar-thumb {
    background: rgb(184,184,184,.2);
    border-radius: 20px;
    visibility: hidden;
}
header article .download_container .realted_bx .cards:hover::-webkit-scrollbar {
    visibility: visible;
}
header article .download_container .realted_bx .cards:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}
header article .download_container .realted_bx .cards .card {
    inline-size: 48%;
    block-size: 150px;
    /* border: 1px solid #FFF; */
    margin-block-end: 15px;
}
header article .download_container .realted_bx .cards .card img {
    inline-size: 100%;
    block-size: 80%;
    border-radius: 10px;
}
header article .download_container .realted_bx .cards .card .content {
    inline-size: 100%;
    block-size: 20%;
    margin-inline-start: 5px;
} 
header article .download_container .realted_bx .cards .card .content h6 {
    color: var(--secondary-color);
    font-size: 12px;
    font-weight: 400;
    margin-block-start: -5px;
}
header article .download_container .realted_bx .cards .card .content p {
    color: var(--color-4);
    font-size: 10px;
    margin-inline-start: 5px;
}
header article .download_container .realted_bx .join_new {
    inline-size: 100%;
    block-size: 30%;
    /* border: 1px solid #FFF; */
    margin-block-start: 30px;
    overflow: auto;
    scroll-behavior: smooth;
}
header article .download_container .realted_bx .join_new::-webkit-scrollbar {
    display: none;
}
header article .download_container .realted_bx .join_new .card {
    inline-size: 100%;
    block-size: 50px;
    /* border: 1px solid #FFF; */
    display: flex;
    align-items: center;
}
header article .download_container .realted_bx .join_new .card img {
    inline-size: 40px;
    block-size: 40px;
    border-radius: 10px;
}
header article .download_container .realted_bx .join_new .card .content {
    margin-inline-start: 15px;
    inline-size: 95%;
}
header article .download_container .realted_bx .join_new .card .content .price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    inline-size: 100%;
}
header article .download_container .realted_bx .join_new .card .content .price h5 {
    color: var(--secondary-color);
    font-weight: 500;
    inline-size: 170px;
    /* border: 1px solid #FFF; */
}
header article .download_container .realted_bx .join_new .card .content .price span {
    color: var(--color-5);
    font-weight: 400;
    inline-size: 110px;
    /* border: 1px solid #FFF; */
    font-size: 10px;
}
header article .download_container .realted_bx .join_new .card .content .price h6 {
    color: var(--color-5);
    font-weight: 400;
}
header article .download_container .realted_bx .join_new .card .content p {
    color: var(--color-4);
    font-size: 12px;
    font-weight: 400;
}
